#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
}

button {
  margin-top: 2rem;
}
